
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} 



#navbar{
    width: 100vw;
    height: 86px;
    border-bottom: 1px solid rgb(217, 217, 217);
}


.hide-scroller::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
  }